.dashboard_container{
    height: 70vh;
    width: 100vw;

}
.dashboard_container_movies{
    text-align: center;
    margin-top: 40px;
}
.dashboard_container_movies_single{
    position: relative;
}
.dashboard_container_movies_img{
    width: 1100px;
    
}
.dashboard_container_movies_title{
position: absolute;
left:200px;
bottom:0;
width:1100px;
color: aliceblue;
font-size: 30px;
font-weight: 600;
background-color: black;
opacity: 0.5;
}
.dashboard_container_movies_slider{
    width: 30px;
    height: 10px;
    background-color: grey;
    margin: 20px 10px;
    border-radius: 5px;
}
.active{
    background-color: white;
}
.dashboard_container_movies_slider_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}