.NavBar_conatiner {
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  position: sticky;
  top: 0;

}
.NavBar_conatiner button{
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    border: none;
}
